*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    position: sticky;
    top: 0;
    background-color: #FFFFFF;
    border-bottom: 1px solid #ddd;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
a{
    text-decoration: none;
     color: #020101;
     gap: 50px;
     margin: 0px;
     padding: 15px;
    
}
a:hover{
    opacity: 30%;
    color: rgb(160, 96, 96);
}
.ff{
    font-size: 60px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 90px;
}
 .section1{
    background-color: #F5F5F7;
    justify-content: center;
    align-items: center;
    height: 550px;

 }
 .img1 img{
    display: flex;
    width: 100%;
 }
 .heading1{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", Helvetica, Arial, sans-serif;
 }
 .heading2{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1rem;
 }
.btn1 button{
    justify-content: center;
    align-items: center;
    margin-left: 40rem;
    margin-top: 1rem;
    padding: 1rem 1.5rem;
    border-radius: 2rem;
    border: none;
    background-color: #0076DF;
    color: #FFFFFF;
    font-size: 1rem;
 }
 .btn1 button:hover{
    cursor: pointer;
 }
 .section2{
    height: 100%;
    background-color: #F5F5F7;
    margin-top: 1rem;
    font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", Helvetica, Arial, sans-serif;
 }
 .images img{
    height: 100%;
    width: 100%;
 }
 .headings{
    justify-content: center;
    text-align: center;
    margin-top: 1rem;
 }
 .buttons{
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    gap: 1rem;
 }
 .head1 h1{
    font-size: 4rem;
 }
 .btn2 button{
    border: none;
    border-radius: 2rem;
    padding: 1rem 1.5rem;
    background-color: #0076DF;
    font-size: 1rem;
    color: white;
}
 .btn3 button{
    border: 1px solid #0076DF;
    border-radius: 2rem;
    padding: 1rem 1.5rem;
    background-color: transparent;
    color: #0076DF;
    font-size: 1rem;
 }
 .head2 h2{
    font-size: 2rem;
 }
 .section3{
    font-family:"SF Pro Text", "SF Pro Icons", "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: #F5F5F7;
    margin-top: 1rem;
    gap: 1rem;
 }
 .images2 img{
    width: 100%;
 }
 .headings2{
    text-align: center;
 }
 .buttons2{
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    gap: 1rem;
 }
  .btn4 button{
    border: none;
    border-radius: 2rem;
    padding: 1rem 1.5rem;
    background-color: #0076DF;
    font-size: 1rem;
    color: white;
}
.btn5 button{
    border: 1px solid #0076DF;
    border-radius: 2rem;
    padding: 1rem 1.5rem;
    background-color: transparent;
    color: #0076DF;
    font-size: 1rem;
 }
 .head3 h1{
    font-size: 3rem;
 }
 .head4 h2{
    font-size: 2rem;
 }
 .buttons3{
    width: 100%;
 }
 .section4{
    display: flex;
    font-family:  "SF Pro Text", "SF Pro Icons", "Helvetica Neue", Helvetica, Arial, sans-serif;
    gap: 1rem;
 }
 .ipadair{
    width: 50%;
    background-color:#B3DEEE;
    margin-top: 1rem;
    font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", Helvetica, Arial, sans-serif;
 }
 .images3 img{
    width: 100%;
 }
 .img2 img{
    display: flex;
    justify-content: center;
    margin-left: 16rem;
 }
 .headings3 h1{
    text-align: center;
    font-size: 1.5rem;
 }
 .buttons3{
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    gap: 1rem;
 }
 .btn6 button{
    padding: 0.5rem 1rem;
    border-radius: 2rem;
    border: none;
    color: white;
    background-color: #0076DF;
 }
  .btn7 button{
    padding: 0.5rem 1rem;
    border-radius: 2rem;
    border:#0076DF 1px solid;
    color: #0076DF;
    background-color: transparent;
 }
 .images4 img{
    width: 100%;   
 }
 .watch{
    width: 50%;
    background-color: #F5F5F7;
    margin-top: 1rem;
 }
 .img3 img{
    margin-left: 12rem;
 }
 .section5{
    display: flex;
    font-family:  "SF Pro Text", "SF Pro Icons", "Helvetica Neue", Helvetica, Arial, sans-serif;
    gap: 1rem;
 }
 .iPad{
    width: 50%;
    background-color: #F5F5F7;
    margin-top: 1rem;
 }
 .images5 img{
    width: 100%;
 }
 .headings4 h1{
    text-align: center;
    font-size: 2.5rem;
 }
 .head6 p{
    text-align: center;
    font-size: 1.5rem;
 }
 .head7 p{
    text-align: center;
    font-size: 1.2rem;
 }
 .macbook{
    width: 50%;
    margin-top: 1rem;
    background-color: #D8EBF6;
 }
 .section6{
    font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", Helvetica, Arial, sans-serif;
    display: flex;
    gap: 1rem;
 }
 .trade-in{
    width: 50%;
    background-color: #F5F5F7;
    margin-top: 1rem;
 }
 .images6 img{
    width: 100%;
 }
 .img4 img{
    margin-left: 16rem;
 }
 .headings5{
    text-align: center;
    font-size: 1.2rem;
 }
 .card{
    width: 50%;
    background-color: #F5F5F7;
    margin-top: 1rem;
 }
 .images7 img{
    width: 100%;
 }
 .img5 img{
    margin-left: 17rem;
 }
 .headings6{
    text-align: center;
 }
 .para3{
    font-size: 1.3rem;
 }
 .para4{
    font-size: 1.2rem;
 }
 button:hover{
    cursor: pointer;
 }
 .section7{
    background-color: #F5F5F7;
    margin-top: 1rem;
    font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", Helvetica, Arial, sans-serif;
 }
 .img6 img{
    width: 100%;
 }
 .heading{
    height: 8rem;
    width: 100%;
 }
 .heading h1{
    margin: 0 auto;
    text-align: center;
    display: block;
    align-items: center;
    font-size: 3.5rem;
 }
 .regards{
    height: 5rem;
    background-color: rgb(38, 63, 63);
 }
 .regards h1{
    text-align: center;
    color: rgb(109, 170, 170);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 }
 .regards h1:hover{
    cursor: pointer;
    color: rgb(138, 224, 224);
 }